body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: 'Overpass', sans-serif;
}

#user-header{
    width: auto;
    height: 20%;
    font-size: 10px;
    background-color: white;
}

#welcome {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
    padding-top: 0.1%;
    padding-left: 5%;
    padding-bottom: 0%;
    margin-left: 2rem;
    color: #6b91cf;
}

#user-program  {
    float: right;
    border-left: inset;
    border-left: inset;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
}

.workout-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.workout-container .workout-card {
    flex: 0 1 calc(25% - 1em);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workout-container #image-id {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 20px;
}

#add-workout{
    font-size: 15px;
}

#search-form  input{
    font-size: 20px;
    
}

.back-button {
    font-size: 20px;
}

.logout-button {
    font-size: 20px;
}