body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: 'Overpass', sans-serif;
}

#user-program  {
    float: right;
    border-left: inset;
    border-left: inset;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
}

.workout-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}