
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    padding: 30px;
    margin: -2px;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1599058917212-d750089bc07e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #a5b7d4;
    font-size: 30px;
}

main {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#login-box {
    background-color: slategray;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-style: double;
    border-radius: 30px;
}
form {
    margin: 0.8rem;
}

button {
    margin: 0.8rem;
}
